.DS_Store
fd1/.DS_Store
fd1/bin/.DS_Store
fd1/bin/gen/.DS_Store
fd1/bin/gen/006-B3889-00/.DS_Store
fd1/bin/gen/resources/.DS_Store
fd1/bin/fd1.prg
fd1/bin/fd1.prg.debug.xml
fd1/bin/gen/resources/cache/i61aa23b6.mbc
fd1/bin/gen/resources/cache/ic1a2a89f.mbc
fd1/bin/gen/resources/cache/ie11b7232.mbc
fd1/bin/gen/resources/cache/ie30234fa.mbc
fd1/bin/gen/resources/cache/if2efbbbf.mbc
fd1/.vscode/launch.json
fd1/bin/gen/006-B3889-00/source/Rez.mcgen
fd1/bin/gen/006-B4394-00/source/Rez.mcgen
fd1/bin/gen/006-B4394-00/source/Rez.mcgen
fd1/bin/mir/source/test_Fd1Util.mir
fd1/bin/internal-mir/Rez.mir
fd1/bin/gen/006-B4394-00/source/Rez.mcgen
fd1/bin/fd1.prg.debug.xml
.DS_Store
fd1/.DS_Store
fd1/bin/.DS_Store
fd1/bin/gen/.DS_Store
fd1/bin/gen/resources/.DS_Store
fd1/bin/fd1.prg.debug.xml
fd1/bin/gen/006-B4394-00/source/Rez.mcgen
